.builderWrap {
  display: grid;
  gap: 0 4px;
  grid-template-columns: repeat(7, 84px);
  grid-template-rows: repeat(4, 96px);
  //border: solid 2px white;
  justify-content: center;
  width: 100%;

  .leftRaw {
    transform: translateX(calc(-25% - 1px));
  }

  .rightRaw {
    transform: translateX(calc(25% + 1px));
  }
}
