.main {
  padding: 30px;
  background-color: #1a2029;
  min-height: 100vh;

  .contentContainer {
    //border: 2px solid white;
    justify-items: center;

    .builderContainer {
      display: flex;
      justify-content: center;
      gap: 12px;
      margin: 12px;

      .btnContainer {
        display: flex;
        //height: 100%;

        .saveBtn {
          border: 2px solid black;

          &:hover {
            background-color: paleturquoise;
            cursor: pointer;
          }

          &:active {
            background-color: mediumturquoise;
          }
        }
      }
    }
  }
}
