.main {
  padding: 30px;
  background-color: #1a2029;
  min-height: 100vh;

  .contentContainer {
    justify-items: center;

    .builderContainer {
      display: flex;
      //align-items: center;
      justify-content: space-between;
      margin: 12px;

      @media (max-width: 908px) {
        flex-direction: column;
      }

      .rightContainer {
        @media (max-width: 1059px) {
          max-width: 198px;
        }

        @media (max-width: 954px) {
          max-width: 152px;
        }
        @media (max-width: 908px) {
          display: flex;
          max-width: 800px;
          margin: 8px;
        }
        .btnContainer {
          display: flex;

          @media (max-width: 908px) {
            display: flex;
            width: 60%;
            flex-direction: column;
          }

          .saveBtn {
            border: 2px solid black;
            flex: 1;

            &:hover {
              background-color: paleturquoise;
              cursor: pointer;
            }

            &:active {
              background-color: mediumturquoise;
            }
          }
        }
      }
    }
  }
}
