.list {
  border: 2px solid wheat;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 16px;
  border-radius: 10px;

  @media (max-width: 582px) {
    display: flex;
    flex-direction: column;
    align-items: end;
  }

  &:hover {
    background: #303e4c;
  }

  .leftContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin: 12px;

    .noChampion {
    }
  }

  .rightContainer {
    margin: 12px;
  }
}
